    <!-- public/index.html -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JsViews Express App</title>
        <script src="/node_modules/jsviews/jsviews.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs"></script>
    </head>
    <body>
        <h2>Hello {{:name}}!</h2>
        <ul>
            {{for items}}
            <li>{{:label}}</li>
            {{/for}}
        </ul>
    </body>
    </html>